.user {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-md);
  color: var(--mantine-color-text);
  border-radius: var(--mantine-radius-sm);
  transition: background-color 150ms ease;
  margin: 0 0 2rem 1rem;

  &:hover {
    background-color: var(--mantine-color-gray-light);
  }
}

