.wrapper {
  min-height: 100vh;
  width: 100%;
  background-color: #FDF7E4; /* Samme som global baggrund */
}

.form {
  min-height: 100vh;
  padding: 120px 100px;
  border-radius: 0;

  @media (max-width: var(--mantine-breakpoint-sm)) {
    padding: 80px 50px;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: var(--mantine-font-family);
  font-weight: 500;
  text-align: center;
  margin-top: var(--mantine-spacing-md);
  margin-bottom: 50px;
}