.wrapper {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1484242857719-4b9144542727?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1280&q=80);
    position: relative;
  }
  
  .form {
    min-height: 100vh;
    padding: 120px 100px;
    border-radius: 0;
  
    @media (max-width: var(--mantine-breakpoint-sm)) {
      padding: 80px 50px;
    }
  }
  
  .title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family: var(--mantine-font-family);
    font-weight: 500;
    text-align: center;
    margin-top: var(--mantine-spacing-md);
    margin-bottom: 50px;
  }